name: CI
on: [push]
jobs:
  build:
    env:
        CC_TEST_REPORTER_ID: 5e336cf788ad4ee3b5af94f7b5b5156e82d15068a2bd58b0978b16cc1ff8555d
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ['18.x', '20.x', '22.x']
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm i
      - if: matrix.os == 'ubuntu-latest'
        run: curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
      - if: matrix.os == 'ubuntu-latest'
        run: chmod +x ./cc-test-reporter
      - if: matrix.os == 'ubuntu-latest'
        run: ./cc-test-reporter before-build
      - run: npm t
      - if: matrix.os == 'ubuntu-latest'
        run: ./cc-test-reporter after-build
      - name: Build
        run: npm run build     
